:root{
    font-family: 'Kanit';
}

html,body {
    background-color: rgb(137, 131, 131);
    color:#1D1D1B;
    margin: 0;
}
main {
    display: grid;
}
p {
    line-height: 1.5;
  }
.wrcBar {
    background-color: rgb(99, 93, 93);
    width: auto;
    height: 4rem;
    text-align: center;
}
a {
    text-decoration: none;
}
a:visited { 
    text-decoration: none;
    color:rgb(123, 171, 211); 
   }
.rallyHero {
    height: 27rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/BovEzjo.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.headerH3 {
    text-align: left;
}
.manufacturerLogo {
    margin-left: 1rem;
    height:35px;
}

h3 {
    text-align:center;
    font-weight: 600;
}
h4 {
    text-align: center;
    font-weight: 500;
}
section {
    background-color: #d6d6d6;
    width: 60%;
    height: 20rem;
    text-align:center;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 20px;
}
.commentSection{
    background-color: rgb(137, 131, 131);
    display:flex;
    flex-direction: column;
    align-items: center;

}
footer {
    text-align: end;
}

form {
    width:35%;
    display: flex;
    flex-direction: column;
}
form textarea{
    height: 4rem;
}
.bookGuests {
    margin-top: 2rem;
}
@media screen and (max-width: 650px) {
	.manufacturerStandings {
        height: 28rem;
    }
    .nextEvent {
        height: 24rem;
    }
    form textarea
    {
        height: 6rem;
    }

}